---
import Layout from '@/layouts/Layout.astro';
---

<Layout title='Weather App'>
	<h1>Weather App by Pau Segués Vitutia</h1>

	<div>
		<a href="/city/Solsona">Solsona</a>
		<a href="/city/Barcelona">Barcelona</a>
	</div>
</Layout>