---
import Layout from '@/layouts/Layout.astro';
---

<Layout title='Weather App'>
	<h1>Weather App by Pau Segués Vitutia</h1>

	<div>
		<input type="text" id="searchInput" placeholder="Escribe para buscar..." />
  		<button id="searchBtn">Buscar</button>

		<ul id="results"></ul>

		<script src="@/utils/search.ts"></script>
	</div>
</Layout>