---
interface Props {
    precipitation: number;
    icon: string;
    description: string;
}

const { precipitation, icon, description } = Astro.props;
---
<div class="flex flex-col">
    <div class="flex flex-row justify-start items-center mb-4">
            <h3 class="text-4xl">
                {icon}
            </h3>
            <p>
                {description}
            </p>
    </div>
    {
        precipitation > 0 && (
            <div>
                <p>🌧️ Precipitation: {precipitation} mm</p>
            </div>
        )
    }
    {
        precipitation < 0.01 && (
            <div>
                <p>No precipitation expected.</p>
            </div>
        )
    }
</div>