---
import SearcherLimited from "@/components/searcher-limited.astro";
---
<section class="w-full h-full flex justify-center items-center mt-4">
  <div class="z-10">
    <SearcherLimited />
  </div>
</section>