---
---
<section class="flex flex-col justify-center items-center mt-44 mb-24 space-y-6">
	<h1 class="text-8xl font-bold">Weather App</h1>
	<a href="https://pausegues.netlify.app/">
		<h2 class="text-6xl hover:text-[65px] text-green-sheen">
			Pau Segués Vitutia
		</h2>
	</a>
</section>